<div class="how-we-work__item">
    <div class="how-we-work__number">{{ index }}</div>
    <div class="how-we-work__polygon-wrap">
        <div class="how-we-work__polygon">
            <i class="how-we-work__icon how-we-work__icon_{{ item.icon }}"></i>
        </div>
    </div>
</div>