<div class="travel__item travel__item_item-{{ index }}">
    <div class="travel-star">
        {# хз что за звезды в макете #}
        <img src="images/travel/icon-star.png" alt="">
    </div>
    <div class="travel__center">
        <div class="travel__title">{{ item.title }}</div>
        <div class="travel__description">
            Lorem ipsum dolor si amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed
            ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
        </div>
    </div>
    <div class="travel-price">
        <div class="travel-price__sale">3150$</div>
        <div class="travel-price__price">{{ item.price }}</div>
    </div>
</div>